<div id="home-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#home-carousel" data-slide-to="1"></li>
    <li data-target="#home-carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="background-image: url(https://www.protectioncivile.org/wp-content/uploads/2017/12/pcps-benevolat-1.jpg);">
      <div class="carousel-caption">
        <h3>IMG1</h3>
      </div>
    </div>
    <div class="item" style="background-image: url(https://www.protectioncivile.org/wp-content/uploads/2017/12/pcps-temoignage.jpg);">
      <div class="carousel-caption">
        <h3>IMG2</h3>
      </div>
    </div>
    <div class="item" style="background-image: url(https://www.protectioncivile.org/wp-content/uploads/2017/09/home-formations-de-secourisme-copie-copie-uai-2880x1067.jpg);">
    </div>
  </div>
</div>


<div class="antenne" id="antenne">
  <div class="container content">
    <div class="row">
      <div class="col-md-2">
        <%= image_tag 'logo_pcps.png', class: 'center-block' %>
      </div>
      <div class="col-md-10">
        <h2>Notre antenne</h2>
        <br>
        <p class='descr'>
          <b>La Protection Civile de Paris</b> est une association loi 1901 affiliée à la Fédération Nationale de la Protection Civile (FNPC), reconnue d’utilité publique et agréée de sécurité civile.
          <br>
          <br>
          L’antenne du 11ème arrondissement de Paris a été créée fin 2015. Nous sommes situés au <b>1 Pont Morland, 75004 Paris</p>
        </div>
      </div>
    </div>
  </div>

  <div class="equipe">
    <div class="container content">
      <div class="row">
        <h2>NOTRE ÉQUIPE</h2>
        <br>
        <p class='descr'>Constituées de plus de <b>30 bénévoles</b> issus de tous horizons et de tous âges, nos équipes sont continuellement formées pour assurer au mieux leurs <b>multiples missions</b>.</p>
        <br>
        <div class="col-md-4 ico">
          <%= image_tag 'secouristes.png', class: 'center-block' %>
          <p>Des secouristes</p>
        </div>
        <div class="col-md-4 ico">
          <%= image_tag 'sss.png', class: 'center-block' %>
          <p>Des sauveteurs humanitaires</p>
        </div>
        <div class="col-md-4 ico">
          <%= image_tag 'for.png', class: 'center-block' %>
          <p>Des formateurs 1ers secours</p>
        </div>
      </div>
    </div>
  </div>
  <div class="moyens">
    <div class="container content">
      <div class="row">
        <h2>NOS MOYENS</h2>
        <br>
        <p class="descr">
          Pour votre manifestation / évènement, notre antenne dispose de <b>moyens matériels importants</b> qu’elle peut employer :
        </p>
        <br>
        <div class="col-md-4 ico">
          <%= image_tag 'vps.png', class: 'center-block' %>
          <p>1 véhicule de premiers secours</p>
        </div>
        <div class="col-md-4 ico">
          <%= image_tag 'vl.png', class: 'center-block' %>
          <p>1 véhicule léger</p>
        </div>
        <div class="col-md-4 ico">
          <%= image_tag 'lots.png', class: 'center-block' %>
          <p>Des tentes, brancards et autres matériels de secours</p>
        </div>
      </div>
    </div>
  </div>

  <div id="map"></div>

  <div class="missions" id="missions">
    <div class="container content">
      <div class="row">
        <h2>NOS MISSIONS</h2>
        <br>
        <p class='descr'>La PCPS 11 intervient dans les domaines de la <b>formation au secourisme</b>, dans l’implantation de <b>dispositifs de secours</b> lors de rassemblements et dans le <b>bénévolat social</b> lors de situations d’urgence ou bien au quotidien (maraudes, collectes…).</p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <a href="https://www.protectioncivile.org/formations-grand-public/vous-former" class="btn btn-pcps center-block">Trouver une formation</a>
        </div>
        <div class="col-md-4">
          <a href="mailto:contact@protectioncivile-paris11.org?subject=Réservation d'un poste de secours&body=Bonjour,%0A%0ANous voudrions que vous assuriez le secours sur notre événement : .....%0A%0ADate(s) : %0ALieu(x) :%0ANombre de personnes attendues : %0ANombre de personnes attendues au même moment : %0ANature de l'événement :%0A%0ACordialement," class="btn btn-pcps center-block">Réserver un poste de secours</a>
        </div>
        <div class="col-md-4">
          <a href="mailto:contact@protectioncivile-paris11.org?subject=Candidature Protection Civile de Paris 11" class="btn btn-pcps center-block">Nous rejoindre</a>
        </div>
      </div>
    </div>
  </div>
  <div class='image' style="background-image: url(https://www.protectioncivile.org/wp-content/uploads/2017/12/pcps-benevolat-1.jpg);"></div>
