<!DOCTYPE html>
<html class="no-touch" lang="fr-FR" prefix="og: http://ogp.me/ns#" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="profile" href="http://gmpg.org/xfn/11">
  <link rel="pingback" href="xmlrpc.php.html">
  <title><%= current_page.data.title || "Protection Civile de Paris Seine - Antenne du 11 - Secourisme, PSC1, SST, Postes de secours" %></title>
  <meta name="description" content="La Protection Civile Paris Seine vous forme au secourisme (PSC1, SST...), met en place vos postes de secours et aide les populations en situation d&#039;urgence."/>
  <link rel="canonical" href="index.html" />
  <meta property="og:locale" content="fr_FR" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Secourisme, PSC1, SST, Postes de secours - Protection Civile Paris Seine" />
  <meta property="og:description" content="La Protection Civile Paris Seine vous forme au secourisme (PSC1, SST...), met en place vos postes de secours et aide les populations en situation d&#039;urgence." />
  <meta property="og:url" content="https://www.protectioncivile-paris11.org" />
  <meta property="og:site_name" content="Protection Civile Paris Seine" />
  <meta property="og:image" content="assets/images/don.png" />
  <meta property="og:image:secure_url" content="assets/images/don.png" />
  <meta property="og:image" content="assets/images/benevolat.png" />
  <meta property="og:image:secure_url" content="assets/images/benevolat.png" />
  <meta property="og:image" content="assets/images/partage.png" />
  <meta property="og:image:secure_url" content="assets/images/partage.png" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="La Protection Civile Paris Seine 11 vous forme au secourisme (PSC1, SST...), met en place vos postes de secours et aide les populations en situation d&#039;urgence." />
  <meta name="twitter:title" content="Secourisme, PSC1, SST, Postes de secours - Protection Civile Paris Seine" />
  <meta name="twitter:image" content="assets/images/don.png" />

  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

  <%= favicon_tag 'images/cropped-sigle-pcps-rvb-32x32.png' %>

  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
</head>

<body>
  <%= partial 'nav' %>
  <%= yield %>
  <%= partial 'footer' %>

  <script>
    $(".scroll_to").click(function(e) {
      e.preventDefault();
      var target = $(this).attr('href');
      console.log(target);
      $('html, body').animate({
        scrollTop: $(target).offset().top - 75
      }, 1000);
    });
  </script>

  <script>
    function initMap() {

      var styledMapType = new google.maps.StyledMapType(
        [
        {"featureType": "administrative","elementType": "labels.text.fill","stylers": [{"color": "#444444"}]},
        {"featureType": "landscape","elementType": "all","stylers": [{"color": "#f2f2f2"}]},
        {"featureType": "poi","elementType": "all","stylers": [{"visibility": "off"}]},
        {"featureType": "road","elementType": "all","stylers": [{"saturation": -100},{"lightness": 45}]},
        {"featureType": "water","elementType": "all","stylers": [{"color": "#46bcec"},{"visibility": "on"}]},
        // {"featureType": "all","elementType": "all","stylers": [{"hue": "#0c2f72"},{"saturation" : 100}]},
        {"featureType": "road.arterial","elementType": "labels.icon","stylers": [{"visibility": "off"}]},
        {"featureType": "transit","elementType": "all","stylers": [{"visibility": "off"}]},
        ]
        );

      var pcps_11 = { lat: 48.8472235, lng: 2.365718700000002 };
      var paris = { lat: 48.85661400000001, lng: 2.3522219000000177 };
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 13,
        center: paris,
        mapTypeControl: false,
        streetViewControl: false
      });
      map.mapTypes.set('styled_map', styledMapType);
      map.setMapTypeId('styled_map');

      var transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);

      var marker = new google.maps.Marker({
        position: pcps_11,
        map: map,
        title: "Protection Civile Paris 11",
        icon: {
          url: '<%= image_path 'map-marker.png' %>',
          scaledSize: new google.maps.Size(35, 50),
        }
      });

      google.maps.event.addListener(marker, 'click', function() {
        window.open('https://www.google.fr/maps/dir//1+Pont+Morland,+Paris/')
      });


    }
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?callback=initMap">
</script>
</body>
</html>
